/* ----------------- */
/* Custom Properties */
/* ----------------- */

:root {
  /* colors */
  --clr-black: hsl(240, 8%, 9%);
  --clr-primary: hsl(255, 83%, 65%);
  --clr-accent: hsl(155, 61%, 44%);
  --clr-text: hsl(225, 5%, 47%);
  --clr-white: hsl(60, 100%, 100%);

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-poppins: "Poppins", sans-serif;
  --ff-dm-sans: "DM Sans", sans-serif;
}

@media (min-width: 35em) {
  :root {
    /* font-sizes */
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45rem) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

/* ---------------- */
/*      Reset       */
/* ---------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-poppins);
  font-size: var(--fs-400);
  background-color: var(--clr-black);
  color: var(--clr-white);
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------- */
/*  Utility Classes  */
/* ----------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: 1em;
  padding-top: 10em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  /* gap: 2rem; */
  grid-column-start: -1;
}

.title {
  grid-column: span 4;
  font-weight: 900;
}

.intro {
  grid-column: span 6;
  color: hsl(225, 5%, 47%);
}

.search {
  display: flex;
  grid-column: span 5;
  align-items: center;
}

select {
  width: 50%;
}

@media (min-width: 45em) {
  /* .grid-container {
    text-align: right;
    grid-row: 1 / 4;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        2rem,
        1fr
      );
  }

  .grid-container > *:first-child {
    grid-column: 1;
  }

  .grid-container > *:last-child {
    grid-column: 2;
  } */

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
    grid-row: 1fr 1fr;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.box {
  padding: 3rem;
}

/* colors */

.bg-black {
  background-color: hsl(var(--clr-black));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-black {
  color: hsl(var(--clr-black));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-poppins {
  font-family: var(--ff-poppins);
}
.ff-dm-sans {
  font-family: var(--ff-dm-sans);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* ----------------- */
/* Components        */
/* ----------------- */

.button-74 {
  background-color: hsl(255, 83%, 65%);
  border: 2px solid hsl(240, 8%, 9%);
  border-radius: 30px;
  box-shadow: hsl(240, 8%, 9%);
  color: hsl(240, 8%, 9%);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: hsl(155, 61%, 44%);
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
